@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Homemade+Apple&family=Lavishly+Yours&family=Love+Ya+Like+A+Sister&family=Nothing+You+Could+Do&family=Splash&family=Unkempt:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: #09852a;
    font-family: 'Annie Use Your Telescope';
    color: #361304;
}

h1 {
    font-size:5vh;
    text-shadow: 0.2vh 0.2vw 2px #022b07;
    text-align: center;
}

#pond1 {
    display: block;
    position: absolute;
    left: -80%;
    height: 100%;
}


#pond2 {
    display: block;
    position: absolute;
    left: 50%;
    height: 120%;
}