@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Homemade+Apple&family=Lavishly+Yours&family=Love+Ya+Like+A+Sister&family=Nothing+You+Could+Do&family=Splash&family=Unkempt:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    height: 100%;
  }

body {
    display: flex;
    position: relative;
    background-color: #09852a;
    font-family: 'Annie Use Your Telescope';
    color: #361304;
    min-width: 915px;
    min-height: 420px;
    max-width: 100%;
    overflow-x: hidden;
}

h1 {
    text-wrap: wrap;
    width: 50%;
}

#gap {
    flex-basis: 10%;
}

#pond_headings {
    position: absolute;
    min-width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding-right: 10px;
    padding-left: 10px;
    font-size:5vh;
    text-shadow: 0.2vh 0.2vw 3% #022b07;
    text-align: center;
    flex: 1 auto 1;
}

#your_pond {
    margin-right: 1vw;
    height: 10vh;
}

#user_pond {
    left: 5vw;
    top: 1vh;
}

#ponds {
    
    top: 35%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex: 1 auto 1;
    position: absolute;
}

#pond1 {
    transform: translateX(-50%);
    top: 50%;
    z-index: 2;
}

#pond_div {
    flex-basis: 10%;
}

#pond2 {
    transform: translateX(150%);
    top: 50%;
    z-index: 2;
}

#add_ducks {
    font-family: "Annie Use Your Telescope";
    font-size: 3vh;
    color: white;
    background-color: #0d4f1e;
    border-radius: 50px;
    border: 1% solid #022b07;
    position: absolute;
    top:80vh;
    left: 1vw;
    height: 5vh;
    min-width: 15vw;
}

#friends_pond {
    right: 5vw;
    top: 1vh;
}

#send_ducks {
    font-family: "Annie Use Your Telescope";
    font-size: 3vh;
    color: white;
    background-color: #0d4f1e;
    border-radius: 50px;
    border: 1% solid #022b07;
    position: absolute;
    top:80vh;
    right: 1vw;
    height: 5vh;
    min-width: 15vw;
}
