@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Homemade+Apple&family=Lavishly+Yours&family=Love+Ya+Like+A+Sister&family=Nothing+You+Could+Do&family=Splash&family=Unkempt:wght@400;700&display=swap');


* {
    box-sizing: border-box;
    padding: 0px;
}

html {
  height: 100%;
}

img:first-child {
  height: 89px;
  width: 149px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0px;
}

form {
  padding-top: 15px;
  flex: 0.1;
  font-size: 20px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

form div,
form input,
form label,
form button {
  margin: 0;
}

div {
  margin: 2px;
  display: flex;
  justify-content: flex-end;
}

label {
  margin-right: 20px;

}

input {
  border: 0.5px solid black;
  width: 150px;
  border-radius: 10px;
  background-color: #87b5ff;
  font-size: 20px;
  margin: 0;
}

input::placeholder {
  color: #dee8fa;
  font-family: 'Annie Use Your Telescope';
  border-radius: 10px;
  text-align: center;
}

button {
  border-radius: 20px;
  font-family: 'Annie Use Your Telescope';
  color: white;
  border: 0.5px solid black;
  font-size: 20px;
  width: 100px;
  background-color: #87b5ff;
  margin: 0px 0;
  text-align: center;
}

header {
  font-family: 'Annie Use Your Telescope';
  color: white;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding-bottom: 2%;
  background-color: #16014d;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Unkempt';
  background: #0a72fa;
  margin: 0;
}

h1 {
  text-align: center;
  z-index: 0;
}

main {
  color: white;
  font-size: 50px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p:first-child {
  font-size: 15px;
  align-content: flex-start;
  width: 250px;
}

#credit {
  right: 0;
  margin: 0;
  position: absolute;
  flex: 0.1;
}

#link {
  position: relative;
  width: 250px;
}

a {
  color: aqua;
  position: absolute;
  bottom: 18px;
  left: 35px;
}

footer {
  font-family: 'Annie Use Your Telescope';
  color: white;
  display: flex;
  flex: 0.1;
  flex-direction: row;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #16014d;
}

img {
  margin: 0;
}

#Lp1 {
  height: 150px;
  width: 278px;
  top: 0;
  animation: Lp1 30s linear 10s infinite normal none;
}

#Lp2 {
  height: 200px;
  width: 370.6px;
  animation: Lp2 1m linear 1m infinite normal none;
}

#Lp3 {
  height: 250px;
  width: 463.3px;
  animation: Lp3 40s linear 2m infinite normal none;
}

#Rp1 {
  height: 225px;
  width: 417px;
  animation: Rp1 20s linear 15s infinite reverse none;
}

#Rp2 {
  height: 200px;
  width: 370.6px;
  animation: Rp2 35s linear 50s infinite reverse none;
}

#Rp3 {
  height: 250px;
  width: 463.3px;
}

#Ld1 {
  height: 255.1px;
  width: 262.2px;
}

#Ld2 {
  height: 95.6px;
  width: 98.3px;
}

#Ld3 {
  height: 191.3px;
  width: 196.6px;
}

#Rd1 {
  height: 123px;
  width: 126.4px;
}

#Rd2 {
  height: 159.4px;
  width: 163.8px;
}

#Rd3 {
  height: 191.3px;
  width: 196.6px;
}